/db-data/*
.env


# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`
#
# follows official upstream conventions:
# https://www.drupal.org/docs/develop/using-composer

# Ignore configuration files that may contain sensitive information
/drupal/web/sites/*/*settings*.php
/drupal/web/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/drupal/web/sites/*/files
/drupal/web/sites/*/public
/drupal/web/sites/*/private
/drupal/web/sites/*/files-public
/drupal/web/sites/*/files-private

/drupal/sites/*/files
/drupal/sites/*/public
/drupal/sites/*/private
/drupal/sites/*/files-public
/drupal/sites/*/files-private

# Ignore paths that may contain temporary files
/drupal/web/sites/*/translations
/drupal/web/sites/*/tmp
/drupal/web/sites/*/cache
/drupal/vendor/*

*node_modules*
drupal/vendor/
drupal/web/modules/contrib/
drupal/web/themes/contrib/
drupal/web/libraries/
